.image
{
    width:1200px;
    height: 100%;  
    overflow: hidden;
    justify-content: center;
    margin-left:75px ;
    position: relative;  
}
.img
{
    width: 1600px;
    height: 100%;
}
.back
{
    background-color: white;
    color: blue;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    float: left;
    border-radius: 50%;
    margin-left: 5px;
    border: outset 1px; 
    display: none; 
}
 .front
{
    background-color: white;
    border-radius: 50%;
    color: blue;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    right:0 ;
    float: right;
    margin-right: 5px;
    border: outset 1px;
  
    display: none;
    
    
}
.image:hover .back
{
    display: block;
}
.image:hover .front{
    display: block;

}
.img:hover
{
    transition:  2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    transition-duration: 2s;
}

